<h3>Events Authorization</h3>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= link_to 'Import Google Calendars', load_google_calendars_path,
          id: 'google-cal-btn', class: 'btn btn-primary form-control' %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= link_to 'Authorize All', authorize_all_path, class: 'btn btn-primary form-control' %>
    </div>
  </div>   
</div>
<table class="table table-striped">
  <tr>
    <th class="col-md-3">Date</th>
    <th class="col-md-7">Name</th>
    <th class="col-md-2">Authorized</th>
  </tr>
  
  <% @events.order('begin_at ASC').each do |event| %>
    <tr>
      <td><small><%= event.begin_at.strftime('%Y-%m-%d %H:%M') %></small></td>
      <td><%= link_to event, edit_event_path(event) %></td>
      <td>
        <div class="btn-group btn-group-justified" role="group">
          <%= link_to 'Yes', event_path(event, :"event[authorized]" => true),
              class: 'btn btn-primary btn-xs', method: :patch %>
          <%= link_to 'No', event_path(event, :"event[authorized]" => false),
              class: 'btn btn-danger btn-xs', method: :patch %>
        </div>
      </td>
    </tr>
  <% end %>
</table>