<div class="well">
  <form>
    <legend>CSV Upload</legend>
    <div class="form-group">
      <%= file_field_tag :csv, multipart: true, id: 'upload-btn' %>
      <%= link_to 'Upload File', '#', class: 'form-control', onclick: 'uploadClicked(e)' %>
      <%= submit_tag 'submit', class: 'btn btn-default form-control' %>
    </div>
  </form>
</div>

<table class="table table-striped">
  <tr>
    <th class="col-md-7">Name: </th>
    <th class="col-md-5">Authorized: </th>
  </tr>
  
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event, event %></td>
      <td>
        <div class="btn-group btn-group-justified" role="group">
          <%= link_to 'Authorized', event_path(event, :"event[authorized]" => true),
              class: 'btn btn-primary btn-sm', method: :patch %>
          <%= link_to 'Not Authorized', event_path(event, :"event[authorized]" => false),
              class: 'btn btn-danger btn-sm', method: :patch %>
        </div>
      </td>
    </tr>
  <% end %>
</table>