<%= semantic_form_for(@source, :html => {:id => 'source_form', :class => 'standard_form'}, :url => { :action => :import }) do |f| %>
  <%= f.inputs :name => "Import an External Calendar" do %>
    
      <p class='inline-hints'>
        In the field below, paste the link to the .ics file you wish to parse.
      </p>
    
    <%= f.input :url, :label => "URL" %>
    <% focus_on '#source_url' %>
    <p class='inline-hints'>
        Please select the event type associated with the calendar you wish to parse.
    </p>
    <%= f.collection_select :event_type_id, EventType.all, :id, :name %>

    <%# FIXME Igal has disabled reimport UI because people are adding almost all new events with re-import, which means that they're almost all generating duplicates and I'm completely overwhelmed with having to use the horrible squashing UI to deal with them. %>

  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :label => "Import" %>
  <% end %>
<% end %>
