<div class="artist">

  <legend id="name"><%= artist %></legend>

  <strong id="performances"><%= 'Performance'.pluralize(artist.events.count) %></strong>
  
  <ul id="events" style="list-style-type: none; padding-left: 0;">
    <% artist.events.group_by(&:begin_at_date).each_with_index do |(begin_at_date, events_beginning_at_date), index| %>
      <% events_beginning_at_date.each do |event| %>
        <li id="event-list-item-<%= index %> event-<%= event.id %>" class="row">
          <time datetime="<%= event.begin_at %>" class="col-md-4"><%= event.begin_at.to_s(:long) %></time>
          <%= link_to event, event, class: 'col-md-8' %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <br>
  
  <strong id="performed_at">Performed at</strong>
  <ul id="venues" style="list-style-type: none; padding-left: 0;">
    <% artist.venues.each_with_index do |venue, index| %>
      <li id="venue-list-item-<%= index %> venue-<%= venue.id %>" class="row">
        <%= link_to venue, venue, class: 'col-md-12' %>
      </li>
    <% end %>
  </ul>
</div>