<h3>Events</h3>
<p class="form-control" disabled>
  <strong>Total : </strong><span class="label label-primary"><%= Event.count %></span>
  <strong>Total Regular : </strong><span class="label label-default"><%= Event.where('recurring = ?', false).count %></span>
  <strong>Total Recurring : </strong><span class="label label-warning"><%= Event.where('recurring = ?', true).count %></span>
</p>
<table class="table table-striped">
  <tr>
    <th class="col-md-3">Date</th>
    <th class="col-md-7">Name</th>
    <th class="col-md-2">Recurring</th>
  </tr>
  
  <% @events.order('start_time DESC').each do |event| %>
    <tr>
      <% if event.authorized %>
        <td><small><%= event.start_time.strftime('%H:%M %d-%m-%Y') %></small></td>
        <td><%= link_to event.title, edit_admin_event_path(event) %></td>
        <td><%= event.recurring? ? "<strong class=\"text-success\">Yes</strong>".html_safe : "<strong class=\"text-danger\">No</strong>".html_safe %></td>
      <% end %>
    </tr>
  <% end %>
</table>