<%= form_for @banner, html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :image %>
        <div class="input-group">
          <%= link_to 'Browse...', '#', id: 'ban-upload-btn', class: 'input-group-addon btn btn-default' %>
          <span id="ban-upload-label" class="form-control"></span>
          <%= f.file_field :image, id: 'ban-upload', style: 'display: none;' %>
        </div>
        <%= display_error_for @banner, :image %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <%= f.submit 'Upload Banner Image', id: 'banner-upload-btn', class: 'btn btn-primary form-control' %>
      </div>
    </div>
  </div>
  
<% end %>
