 <%= form_for csv_calendar, html: { multipart: true } do |f| %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <% f.label :file %><p><span class="label label-primary">Date</span><span class="label label-primary">Name</span><span class="label label-primary">Time</span><span class="label label-primary">Price</span><span class="label label-primary">Description</span><span class="label label-primary">Referrer URL</span><span class="label label-primary">Referrer</span></p>
        <div class="input-group">
         <%= link_to 'Browse...', '#', id: 'file-upload-btn', class: 'input-group-addon btn btn-default' %>
          <span id="file-upload-label" class="form-control"></span>
          <%= f.file_field :file, id: 'file-upload', style: 'display: none;' %>
        </div>
        <%= display_error_for csv_calendar, :file %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <%= f.submit 'Upload CSV File', id: 'cal-upload-btn', class: 'btn btn-primary form-control' %>
      </div>
    </div>
  </div>

 <% end %>
