<% content_for :filters do %>
  <strong>Filter events</strong>
  <ul style="list-style-type: none; padding-left: 0;">
      <li>
        <%= link_to events_path do %>
          <%= image_tag 'icons/misc.png', width: 12, height: 12, style: 'margin: 2px;' %>
          <span> All</span>
        <% end %>
      </li>
    <% types.each do |type| %>
      <% next if type.name.nil? or type.name.empty? %>
      <li>
        <%= link_to events_path( filter: type.name ) do %>
          <%= image_tag type.icon, width: 12, height: 12, style: 'margin: 2px;' %>
          <span> <%= type %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>