<%= form_for event, html: { multipart: true } do |f| %>
  <div class="row">
    <% if current_user.nil? || !current_user.admin? %>
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= display_error_for(event, :name) %>
      </div>
    </div>
    <% else %>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :id %>
        <%= f.text_field :id, class: 'form-control disabled', disabled: true %>
        <%= display_error_for(event, :id) %>
      </div>
    </div>
    <div class="col-md-10">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= display_error_for(event, :name) %>
      </div>
    </div>
    <% end %>
  </div>

  <% if current_user.nil? || !current_user.admin? %>
  <% else %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :recurring %>
        <%= f.text_field :recurring, class: 'form-control disabled', disabled: true, value: event.recurring? %>
        <%= display_error_for(event, :recurring) %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, rows: 2, class: 'form-control' %>
        <%= display_error_for(event, :description) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :venue %>
        <%= f.text_field :venue, class: 'form-control' %>
        <%= display_error_for(event, :venue) %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :artist %>
        <%= f.text_field :artist, class: 'form-control' %>
        <%= display_error_for(event, :artist) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :type %>
        <%= f.select :type, types.map {|t| [t, t]}, {}, { class: 'form-control' } %>
        <%= display_error_for(event, :type) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :begin_at %>
        <%= f.text_field :begin_at, class: 'datetimepicker form-control',
            value: event.begin_at.nil? ? Time.now.strftime('%Y-%m-%d %H:%M') : event.begin_at.strftime('%Y-%m-%d %H:%M'),
            data: { "date-format" => 'YYYY-MM-DD HH:MM' } %>
        <%= display_error_for(event, :begin_at) %>
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :price %>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :price, class: 'form-control' %>
          <span class="input-group-addon">.00</span>
        </div>
        <%= display_error_for(event, :price) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <%= f.submit :submit, class: 'btn btn-primary form-control' %>
      </div>
    </div>
  </div>
<% end %>