<% events.each_slice(1) do |slice| %>
  <div class="row">
    <% slice.each do |event| %>
      <div id="event-<%= event.id %>" class="event" data-cover-url="<%= event.cover %>">
        <%= link_to event do %>
          <div class="col-md-8 col-md-offset-2">
            
            <div class="container-fluid">
              <div class="row">
                <legend><%= event.title %></legend>
              </div>
              
              <div class="row">
                <div class="col-md-6 col-md-offset-6">
                  <strong>
                    <%= event.location %><br>
                    <span>
                      <time datetime="<%= event.date_begin %>"><%= event.date_begin.strftime('%F %R') %></time>
                      <% unless event.date_end.nil? %>
                      - <time datetime="<%= event.date_end %>"><%= event.date_end.strftime('%F %R') %></time>
                      <% end %>
                    </span>
                  </strong>
                  <p><%= truncate(event.content, length: 100, separator: ' ') %></p>
                </div>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>