<%= render 'events/filters' %>

<%= link_to events_path(date: @date + 7.days), class: 'btn btn-flat btn-primary pull-right' do %>
  <i class="far fa-arrow-right"></i>
<% end %>

<%= link_to events_path(date: @date - 7.days), class: 'btn btn-flat btn-primary pull-left' do %>
  <i class="far fa-arrow-left"></i>
<% end %>

<h1 class="text-center"><%= @date.strftime('%Y-%m-%d') %></h1>

<div class="events">
  <div class="page">
    <% @events.each do |event| %>
      <%= render event %>
    <% end %>
  </div>
</div>

<%= paginate @events %>
