<% events.each_slice(1) do |slice| %>
  <div class="row">
    <% slice.each do |event| %>
      
      <%= link_to event, id: "event-#{event.id}", class: 'event' do %>
        
        <legend><%= event.title %></legend><br>
        <p><%= event.venue %><p>
        <time datetime="<%= event.date_begin %>"><%= event.date_begin.strftime('%F %R') %></time>    
        <p><%= event.content %></p>
        
      <% end %>

    <% end %>
  </div>
<% end %>