<div class="row">
  <div class="col-md-8 col-md-offset-2 well" style="margin-top: 15px; margin-bottom: 15px;">

    <%= form_for event, html: { multipart: true } do |f| %>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :content %>
            <%= f.text_area :content, rows: 2, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :cover %>
            <%= f.file_field :cover, id: 'cover-upload', style: 'display: none;' %>
            <%= link_to 'Upload cover', '#', onclick: 'uploadCoverClicked(event);', class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :date_begin %>
            <%= f.text_field :date_begin, class: 'datepicker form-control' %>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :date_end %>
            <%= f.text_field :date_end, class: 'datepicker form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :location %>
            <%= f.text_field :location, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="form-group">
            <%= f.submit :submit, class: 'btn btn-primary form-control' %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>