<legend><%= event.name %></legend>
<p><%= event.description %></p>
<p><%= link_to_unless event.venue.nil?, event.venue, event.venue %></p>
<p><%= link_to_unless event.artist.nil?, event.artist, event.artist %></p>
<time datetime="<%= event.begin_at %>"><%= event.begin_at.strftime('%F %R') %></time>