<%= render 'events/filters' %>

<div class="event">

  <legend><%= event %></legend>
  <p><%= event.description %></p>
  <p>
    <span id="artist"><%= link_to_unless event.artist.nil?, event.artist, event.artist %></span>
    <span id="at">@</span>
    <span id="venue"><%= link_to_unless event.venue.nil?, event.venue, event.venue %></span>
    <time id="begin_at" datetime="<%= event.begin_at %>"><%= event.begin_at.strftime('%F %R') %></time>
  </p>
</div>