<%= form_for @admin_ad, html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, id: 'image-upload', style: 'display: none;' %>
        <%= link_to 'Upload image', '#', onclick: 'uploadImageClicked(event);', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
