<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    
    <div class="col-md-3">
      <div class="navbar-header">
        <%= button_tag type: 'button', class: 'navbar-toggle collapsed',
                       data: { toggle: 'collapse', target: '.navbar-collapse' } do %>
          <%= content_tag :span, 'Toggle navigation', class: 'sr-only' %>
          <% 3.times do %>
           <span class="icon-bar"></span>
          <% end %>
        <% end %>

        <%= link_to 'Pin Up Gattawa', root_path, id: 'logo', class: 'navbar-brand' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="navbar-collapse collapse" style="margin-left: -15px;">
        
        <ul class="nav navbar-nav">
          <li class="<%= current_page?(events_path) ? 'active' : nil %>">
            <%= link_to '<i class="flaticon flaticon-election"></i> Calendar'.html_safe, events_path %>
          </li>
          <li class="<%= controller.controller_name == 'artists' ? 'active' : nil %>">
            <%= link_to '<i class="flaticon flaticon-artist2"></i> Artists'.html_safe, artists_path %>
          </li>
          <li class="<%= controller.controller_name == 'venues' ? 'active' : nil %>">
            <%= link_to '<i class="flaticon flaticon-theater5"></i> Venues'.html_safe, venues_path %>
          </li>
        </ul>
      
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= current_page?(new_event_path) ? 'active' : nil %>">
            <form class="navbar-form">
              <%= link_to 'Post an event', new_event_path,
                  class: "btn btn-flat btn-primary#{current_page?(new_event_path) ? ' active' : nil}" %>
            </form>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
            </li>
          <% else %>
            <li class="<%= current_page?(new_user_session_path) ? 'active' : nil %>">
              <%= link_to 'Sign in', new_user_session_path %>
            </li>
            <li class="<%= current_page?(new_user_registration_path) ? 'active' : nil %>">
              <%= link_to 'Sign up', new_user_registration_path %>
            </li>
          <% end %>
        </ul>      

      </div>
    </div>

  </div>
</header>