!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Radiant Sands
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.skin-blue
    #spinner
    = render 'shared/facebook'
    #page-content.container-fluid
      = render 'shared/navbar'
      %section#sidebar.col-md-3.well
        = render 'shared/sidebar'
      %section#page-body.col-md-6.well
        - flash.each do |type, message|
          %div{:class => "alert #{bootstrap_class_for(type)} fade in"}
            %button.close{"data-dismiss" => "alert"} ×
            = message
        = render 'shared/banner'
        = yield
      %section#advertisement.col-md-3.well
        = render 'shared/advertisement'
