<!DOCTYPE html>
<html>
  <head>
    <title>PinUpGattawa</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/facebook' %>

    <div id="page-content" class="container-fluid">
      <%= render 'layouts/navbar' %>
      
      <section id="sidebar" class="col-md-3 well">
        <%= render 'layouts/sidebar' %>
      </section>

      <section id="page-body" class="col-md-6 well">
        <%= render 'layouts/banner' %>
        <%= yield %>
      </section>

      <section id="advertisement" class="col-md-3 well">
        <%= render 'layouts/advertisement' %>
      </section>

    </div>

  </body>
</html>
